@import "tailwindcss";

:root {
  --background: #fafaf5;
  --foreground: #3c3c3c;
  --primary: #c6a974;
  --secondary: #d0d0c5;
  --accent-text: #ffffff;
  --primary-hover: #a0875c;
}

.dark {
  --background: #1e1e1e;
  --foreground: #fafaf5;
  --primary: #d7bc8e;
  --secondary: #e0e0d5;
  --primary-hover: #c6a974;
}

@media (prefers-color-scheme: dark) {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
